.container {
    // background-color: aqua;
    width: 100%;
    height: 100vh;
    position: relative;
    // background-color: rgb(246, 229, 205);

    .logout {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgb(246, 175, 44);
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            padding-left: 2px;
            width: 60%;
            height: 60%;
        }
    }

    .option {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100vh - 85%);
        // background-color: red;
        position: absolute;
        bottom: 0;
        margin-bottom: 20%;

        &__book {
            flex: 1;
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img {
                width: 70px;
                height: 70px;
            }
        }

        &__btnPiNoong {
            flex: 2;
            // background-color: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;

            &_img {
                width: 110px;
                height: 110px;
                border-radius: 50%;
            }
        }

        &__collection {
            flex: 1;
            // background-color: azure;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img {
                width: 70px;
                height: 70px;
            }
        }
    }
}

