.container {
    // background-color: aqua;
    width: 100%;
    height: 100vh;
    position: relative;
    // background-color: rgb(246, 229, 205);

    .map {
        width: 100vw;
        height: calc(100% - 300px);
        background-color: bisque;
        overflow: auto;
    }

    .map::-webkit-scrollbar {
        width: 0.5rem; /* Điều chỉnh độ rộng của thanh cuộn dọc */
        height: 0.5rem; /* Điều chỉnh độ cao của thanh cuộn ngang */
        display: none; /* Ẩn thanh cuộn */
    }

    .equipment {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 20px;
        border: solid 2px rgb(112, 4, 4);
        margin-bottom: 5px;
        margin: 0 100px;

        p {
            font-size: 20px;
            font-weight: 600;
            color: rgb(112, 4, 4);
            font-family: 'Dancing Script', cursive;
            padding: 2px;
        }

        &:active {
            opacity: 0.5; /* Điều chỉnh độ mờ của phần tử khi nhấn */
            color: rgb(171, 82, 82); /* Màu sẽ thay đổi khi nhấn */
        }
    }

    .header_btn {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0;
        padding: 0 20px;
        align-items: center;

        .name {
            font-size: 35px;
            font-weight: 600;
            color: rgb(112, 4, 4);
            font-family: 'Dancing Script', cursive;
        }
        .cancel {
            height: 70%;
            padding: 5px;
            border-radius: 20px;
            border: solid 2px rgb(112, 4, 4);
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            p {
                // width: max-content;
                font-size: 20px;
                font-weight: 600;
                color: rgb(112, 4, 4);
                font-family: 'Dancing Script', cursive;
                padding: 2px;
            }

            &:active {
                opacity: 0.5; /* Điều chỉnh độ mờ của phần tử khi nhấn */
                color: rgb(171, 82, 82); /* Màu sẽ thay đổi khi nhấn */
            }
        }
        .logout {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgb(246, 175, 44);
            display: flex;
            justify-content: center;
            align-items: center;

            &__img {
                padding-left: 2px;
                width: 60%;
                height: 60%;
            }
            &:active {
                opacity: 0.5; /* Điều chỉnh độ mờ của phần tử khi nhấn */
            }
        }
    }

    .option {
        display: flex;
        flex-direction: column;
        width: 100%;

        // background-color: red;
        position: absolute;
        bottom: 0;
        margin-bottom: 20%;

        &__wrap {
            height: 120px;
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        &__book {
            flex: 1;
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img {
                width: 70px;
                height: 70px;
            }
        }

        &__btnPiNoong {
            flex: 2;
            // background-color: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;

            &_img {
                width: 110px;
                height: 110px;
                border-radius: 50%;
            }
            &:active {
                opacity: 0.5; /* Điều chỉnh độ mờ của phần tử khi nhấn */
            }
        }

        &__collection {
            flex: 1;
            // background-color: azure;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img {
                width: 70px;
                height: 70px;
            }
        }
    }
}

